<%- include('partials/header') %>
    <div class="page">
        <h1 class="text-primary"><%= title %></h1>
        <%- content %>
         <div class="page-dates">
            <span>Created at: <%= createdAt %></span>
            <span>Last modified: <%= lastModified %></span>
        </div>
    </div>  
<%- include('partials/footer') %>
